@model NotDefteri.Data.Models.PublicModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@Html.Partial("_AddNote")

@if (Session["FullName"] == null)
{
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-light">

                <!-- Content area -->
                <div class="content">

                    <!-- Basic responsive configuration -->
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Notlarım</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>
                        <table class="table datatable-responsive">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Tarih</th>
                                    <th>Kategori</th>
                                    <th>Not İçerik</th>
                                    <th>Detay</th>
                                    <th class="text-center">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /basic responsive configuration -->

                </div>
                <!-- /main content -->

            </div>
        </div>
    </div>
}
else
{
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-light">
                <div class="content">

                    <!-- Basic responsive configuration -->
                    <div class="card" id="tbl">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Notlarım</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>
                        <div id="nottablo">
                            <table class="table datatable-responsive">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Tarih</th>
                                        <th>Kategori</th>
                                        <th>Not İçerik</th>
                                        <th>Düzenle</th>
                                        <th class="text-center">Sil</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var note in Model.NoteModels)
                                    {
                                        <tr id="row_@note.Id">
                                            <td>@note.Title</td>
                                            <td>@note.Date</td>
                                            <td>@note.CategoryModel.Name</td>
                                            <td>@Html.Raw(note.Content)</td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal@(note.Id)">Düzenle</button>
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-danger" onclick="DeletetoNote(@note.Id)">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- Content area -->
            </div>
        </div>
    </div>
}

@foreach (var item in Model.NoteModels)
{
    <div class="modal fade" id="exampleModal@(item.Id)">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel@(item.Id)">Note Düzenleme İşlemi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group row">

                            <label class="col-form-label col-sm-2">Başlık:</label>
                            <div class="col-sm-5">
                               <input id="baslik" value="@item.Title" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">Kategori:</label>
                            <div class="col-sm-5">
                               <select id="kategori" class="form-control">
                                  @foreach (var cat in Model.CategoryModels)
                                  {
                                      <option value="@cat.Id" >@cat.Name</option>
                                  }
                               </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label col-sm-2">İçerik:</label>
                            <div class="col-lg-7">
                                <input id="icerik" value="@item.Content" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Çıkış</button>
                    <button type="button" class="btn btn-primary" onclick="UpdatetoNote(this)" itemscope itemid="@item.Id" data-dismiss="modal">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function UpdatetoNote(item) {
        var id = $(item).attr("itemid");
        var title = $("#baslik").val();
        var content = $("#icerik").val();
        var category = $("#kategori").val();
        $.ajax({
            async: true,
            type: "POST",
            contentType: false,
            processData: false,
            dataType: 'html',
            url: '/Note/NoteEdit/?id=' + id + "&title=" + title + "&content=" + content + "&categoryid=" + category,
            success: function (data) {
                swal({
                    title: "Başarılı",
                    text: "Not Güncellendi",
                    icon: "success"
                });
                $("#nottablo").html(data);
            },
            error: function () {
                alert("Hata")
            }
        });
    }
</script>

<input type="hidden" id="hiddenNoteId" />

<div class="modal fade" id="mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Not Silme işlemi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Emin misin?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="ConfDeleteNote()">Sil</button>
            </div>
        </div>
    </div>
</div>

<script>
    var DeletetoNote = function (Id) {
        $('#hiddenNoteId').val(Id);
        $('#mymodal').modal('show');
    };

    var ConfDeleteNote = function () {
        debugger
        var noteId = $("#hiddenNoteId").val();

        $.ajax({
            type: "POST",
            url: '/Note/NoteRemove',
            data: { id: noteId },
            success: function (result) {
                $('#mymodal').modal('hide');
                $('#row_' + noteId).remove();

            },
            error: function () {
            }
        });



    };
</script>



<script src="~/Scripts/note.js"></script>
