@model NotDefteri.Data.Models.PublicModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AddNote")

@if (Session["FullName"] == null)
{
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-light">

                <!-- Content area -->
                <div class="content">

                    <!-- Basic responsive configuration -->
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Notlarım</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>
                        <table class="table datatable-responsive">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Tarih</th>
                                    <th>Kategori</th>
                                    <th>Not İçerik</th>
                                    <th>Detay</th>
                                    <th class="text-center">İndir</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /basic responsive configuration -->

                </div>
                <!-- /main content -->

            </div>
        </div>
    </div>
}
else
{
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-light">

                <!-- Content area -->
                <div class="content">

                    <!-- Basic responsive configuration -->
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Notlarım</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>

                        <table class="table datatable-responsive">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Tarih</th>
                                    <th>Kategori</th>
                                    <th>Not İçerik</th>
                                    <th>Düzenle</th>
                                    <th class="text-center">İndir</th>
                                </tr>
                            </thead>
                          
                        <tbody>
                            @foreach (var note in Model.NoteModels)
                            {
                                <tr>
                                    <td>@note.Title</td>
                                    <td>@note.Date</td>
                                    <td>@note.CategoryModel.Name</td>
                                    <td>@Html.Raw(note.Content)</td>
                                    <td><button class="btn bg-teal" type="button">Düzenle</button></td>
                                    <td><button class="btn bg-danger" type="button">İndir</button></td>
                                    
                                </tr>
                            }
                            </tbody>
                         
                        </table>
                    </div>
                    <!-- /basic responsive configuration -->

                </div>
                <!-- /main content -->

            </div>
        </div>
    </div>
}





