<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NotDefteri </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Html.Partial("_StylesPartial")

    @Html.Partial("_ScriptsPartial")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/Note/Index">Notlarım</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-right:500px">
                @if (Session["FullName"] != null)
                {
                    <a class="nav-link" style="color:#333" href="/Account/Register"> @Session["FullName"]</a>
                    <a class="nav-link" style="color:#333" href="/Account/Logout"> Çıkış Yap</a>
                }
                else
                {
                    <a class="nav-link" style="color:#333" href="/Account/Register"> Kaydol</a>
                    <a class="nav-link" style="color:#333" href="/Account/Login"> Giriş Yap</a>
                }
            </form>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <!-- Footer -->
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text">
                    &copy; 2020 <a href="#">NotDefteri</a><b>
                    Tüm Hakları Saklıdır.</b>
                </span>
</div>
        </div>
        <!-- /footer -->
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
